<!doctype html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity5" layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Lista de usuários</title>
    </head>
    <body>
        <main layout:fragment="content">
            <form class="d-flex w-100 justify-content-between align-items-center mb-4">
                <div>
                    <h1>Lista de usuários</h1>
                    <p th:if="${search != null}" class="opacity-75">Pesquisando por "<span th:text="${search}"></span>"</p>
                </div>
                <div class="d-flex align-items-center gap-1">
                    <input type="search" class="form-control" placeholder="Pesquisar nome do usuário..." style="max-width: 24rem;" name="search" th:value="${search}"/>
                    <button class="btn btn-primary" title="Pesquisar">
                        <i data-lucide="search" style="width: 1rem;"></i>
                    </button>
                </div>
            </form>

            <div class="alert alert-success"
                 th:if="!${#strings.isEmpty(message)}" th:text="${message}">
            </div>

            <table class="table">
                <tr>
                    <th>Nome</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')"></th>
                </tr>
                <tr th:each="user:${users}">
                    <td class="text-truncate" style="max-width:20rem;">
                        <img th:src="${user.avatarUrl} ?: 'https://api.dicebear.com/9.x/initials/svg?seed=' + ${user.name}" alt="Foto do usuário" style="width: 3rem; height: 3rem;" class="rounded-5 me-1"/>
                        <span th:text="${user.name}"></span>
                    </td>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">
                        <div class="d-flex gap-2 h-100 justify-content-center">
                            <a th:href="@{/users/edit/}+${user.id}"
                               class="btn btn-outline-primary">Editar</a>
                            <!-- Button trigger modal -->
                            <button th:onclick="|userId.value = ${user.id}|" type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Remover
                            </button>
                        </div>
                    </th>
            </table>

<!--            empty table message -->
            <div th:if="${users.isEmpty() && search != null}">
                <div class="alert alert-info">
                    Nenhum usuário para o filtro informado. <a th:href="@{/users/list}">Clique aqui</a> para ver todos os usuários.
                </div>
            </div>

            <a th:href="@{/users/create}" sec:authorize="hasRole('ROLE_ADMIN')">Cadastrar novo usuário</a>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Confirmação</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Deseja realmente excluir o usuário?
                        </div>
                        <div class="modal-footer">
                            <form th:action="@{/users/delete}" method="post">
                                <input type="hidden" name="id" id="userId"/>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                                <button type="submit" class="btn btn-danger">Sim</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </main>
    </body>
</html>