<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Página inicial</title>

</head>
<body>
    <div layout:fragment="content" class="container d-flex flex-column align-items-center justify-content-center text-center py-4">
        <img src="/img/app-mockup.png" alt="" class="w-50 mb-4">
        <h1 style="max-width:31ch; font-size:3rem;">Ofereca uma experiência inesquecível e envolvente em seus eventos.</h1>
        <p class="fw-light opacity-75" style="max-width:72ch; font-size:1.125rem;">Personalize interações, otimize operações e garanta segurança, elevando a gestão de eventos a um novo nível de eficiência e engajamento com o GeniusXP.</p>
    </div>
</body>
</html>